// Colors
$darkgreen: #293A34;
$lightgreen: #50746A;
$btn: #3C574E;
$beige: #E9EFED;

// Fonts
$main: 'Montserrat';
$second: 'Prata';

// Media
$tablet: 992px;
$mobile: 700px;

// Others
$maxWidth: 1440;
$line-pos: -#{$maxWidth + 15 + px}; 